body {
    font-family: monospace;
}

.content-status {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
	padding-left: 10px;
	margin: 20px;
    background-color: #ffffff;
}

.status-item {
    background-color: #404040;
    margin-left: 10px;
    color: #ffffff;
    line-height: 0;
    padding: 0 10px;
    border-radius: 5px;
	margin: 5px 10px;
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex: 1;
}

.content-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    padding-left: 10px;
    margin: 20px;
    background-color: #ffffff;
}

